        /* 1. Global styles for the document */
body {
    background-color: #ffffcc;
    background-image: url('background.gif');
    color: #221811;
    font-family: Verdana, Arial, sans-serif;
}

        /* 2. Styles for the header element */
header {
    background-color: #ccaa66;
    text-align: left;
    height: 100px;
    background-image: url('javajamlogo.jpg');
    background-repeat: no-repeat;
}

        /* 3. Styles for the nav element */
nav {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 10px;
}

        /* 4. Remove underline for hyperlinks in the nav area */
nav a {
    text-decoration: none;
}

        /* 5. Styles for the footer element */
footer {
    background-color: #D2B48C;
    font-size: 0.60em;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
    border-top: 2px solid #221811;
}

        /* 6. Styles for the wrapper id */
#wrapper {
    margin-right: auto;
    margin-left: auto;
    background-color: #FEF6C2;
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 3px 3px 3px #000000;
}

        /* 7. Styles for the h2 element */
h2 {
    background-color: #D2B48C;
    font-size: 1.2em;
    padding-left: 10px;
    padding-bottom: 5px;
}

        /* 8. Styles for the h4 element */
h4 {
    background-color: #D2B48C;
    font-size: 1.2em;
    padding-left: 10px;
    padding-bottom: 5px;
}

        /* 9. Styles for the main element */
main {
    padding: 2em;
    display: block;
}

        /* 10. Styles for the details class */
.details {
    padding-left: 20%;
    padding-right: 20%;
}

        /* 11. Styles for the photo id */
#photo {
    position: absolute;
    right: 352px;
    top: 224px;
    width: 390px;
    height: 340px;
}